################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConstructorInjectionDemo/.vs
/ConstructorInjectionDemo/ConstructorInjectionDemo/bin/Debug/net8.0
/ConstructorInjectionDemo/ConstructorInjectionDemo/obj
